@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&family=Rock+Salt&display=swap');

html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    font-family: Open Sans Condensed;
}

.container, .row {
    height: 100%;
}

.info {
    margin-top: 25rem;
}

h1 {
   font-family: Rock Salt;
}

.main {
    font-family: Rock Salt;
    background: #aaaaaa;
}

.skills{
    font-family: Rock Salt;
    background: #aaaaaa;
    margin-top: 30rem;
}

.side {
    background: white;
}

#upLeftCorner{
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    border-width: 0 0 450px 600px;
    border-color: transparent transparent transparent rgb(87, 87, 87);
    left: 0;
    top: 0;
    z-index: 1;
}

img {
    position: fixed;
    height: auto;
    width: auto;  
    z-index: auto;
    top: 93px;
    left: 145px;
}

a.linkki {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a.linkki:hover {
    color: rgb(167, 167, 167);
}

