@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&family=Rock+Salt&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css');

/* html {
    height: 100%
} */

body {
    font-family: Open Sans Condensed;
}

.container, .row {
    height: 100%;
}

.info {
    position: sticky;
    top: 25rem;
    /* margin-top: 25rem; */
}

h1 {
   font-family: Rock Salt;
}

.main {
    font-family: Rock Salt;
    background: #aaaaaa;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.skills{
    font-family: Rock Salt;
    background: #aaaaaa;
    margin-top: 10rem;
}

.side {
    background: white;

    
}

div.scroll {
    padding-top: 60%;
    font-family: Rock Salt;
    background: #aaaaaa;
    text-align: center;
    
    
}

/* #upLeftCorner{
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    border-width: 0 0 450px 600px;
    border-color: transparent transparent transparent rgb(87, 87, 87);
    left: 0;
    top: 0;
    z-index: 1;
} */

img {
    position: fixed;
    width: auto;  
    height: auto;
    z-index: auto;
    top: 85px;
    left: 100px;
}

a.linkki {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a.linkki:hover {
    color: rgb(167, 167, 167);
}

@media only screen and (max-width: 768px){
    .info {
        position: static;
    }
    img {
        position: static;
    }
}
   


